

/*Import fonts from fonts.css*/

@import url(./fonts.css);



/*IMPORT CSS VARIABLES*/
@import url(./partials/variables.css);


/*      Start Navigation        */

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 2rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link{
    font-family:var(--montserrat);
    text-transform: uppercase;
    font-size: small;
    font-weight:500;
    padding: 1rem;
    color: var(--title-color);
}


.header_area .main-menu .navbar-nav .active a{
    background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav  a:hover{
    background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/*      End Navigation        */