


html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height:100%;

}



/*  CSS VARIABLES  */


:root{
    --primary-color: #4458dc;
    --primary-color2: #854fee;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, #6a007e 0%, #ff0066 100%);
    --gradient-reverse: linear-gradient(90deg, #ff0066 0%, #6a007e 100%);
    --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);


    /*      FONT FAMILY VARIABLES*/
    --montserrat:"Montserrat", cursive;

}